<div>
    <button (click)="toggleTable()">Show / Hide table</button>
</div>

<table *ngIf="isTableVisible">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Creation Date</th>
        <th>Active</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.age}} years old</td>
        <td>{{user.creationDate | date : 'longDate'}}</td>
        <td>
            <img *ngIf="user.isActive" src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/512/Tick_Mark-256.png" alt="Active">
            <img *ngIf="!user.isActive" src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon-256.png" alt="Inactive">
        </td>
        <td>
            <button *ngIf="!user.isActive" (click)="activateUser(user)">Activate</button>
            <button *ngIf="user.isActive" (click)="deactivateUser(user)">Deactivate</button>
        </td>
    </tr>
    </tbody>
</table>

<hr>

<button (click)="addUser()">Add User</button>

<hr>

<div>
    <pre>{{users | json}}</pre>
</div>

<hr>

<h1>Hello from my playground!!!</h1>
<h2>My name is {{name}}</h2>
<button (click)="changeName()">Change Name</button>

<hr>

<div>
    <button (click)="decrease()">-</button>
    <span>{{counter}}</span>
    <button (click)="increase()">+</button>
</div>
